<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gu.Wpf.Geometry" version="1.3.0.1" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net452" />
  <package id="MouseKeyHook" version="5.3.0" targetFramework="net452" />
  <package id="NAudio" version="1.8.0" targetFramework="net452" />
  <package id="WriteableBitmapEx" version="1.5.0.0" targetFramework="net452" />
</packages>